.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--primary);
    z-index: 1;
    box-shadow: 0 2px 31px -16px #0006;
    z-index: 10;
    @media (max-width: 767.9px){
      display: none;
    }
    .logo{
      max-width: 130px;
      img{
        width: 100%;
        height: auto;
      }
    }
    .menuList {
      display: flex;
      align-items: center;
      gap: 2rem;
      a,
      .dropdownToggle {
        font-size: 16px;
        font-weight: 500;
        color: var(--white);
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: var(--secondary);
        }
      }
      .active {
        color: var(--secondary); /* Active link color */
        font-weight: 600; /* Optional: bold the active link */
      }
  
      .dropdown {
        position: relative;
        .dropdownToggle {
          &:hover {
            color: var(--secondary);
          }
        }
        .dropdownMenu {
            position: absolute;
            top: calc(100% + 0.5rem);
            right: auto;
            background: var(--primary);
            border: 1px solid var(--primary);
            border-radius: 6px;
            // box-shadow: 0 4px 10px rgb(255 150 0);
            display: flex;
            flex-direction: row;
            z-index: 1000;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 2rem;
            left: auto;
            transform: translate(-45%, 0px);
          .innerItemParent{
            display: flex;
            flex-direction: column;
            z-index: 1000;
            align-items: flex-start;
            min-width: 200px;
            max-width: max-content;
            h3{
                padding: 0.5rem 0;
                color: var(--white);
                font-weight: 600;
                font-size: 16px;
                line-height: normal;
                display: block;
                width: 100%;
                // margin-bottom: 1rem;
            }
                a {
                    // width: calc(100% - 16px);
                    width: max-content;
                    display: inline-block;
                    padding: 0.5rem 0 0.5rem 0;
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--white);
                    text-decoration: none;
                    position: relative;
                    overflow: hidden;
                    &::before{
                        position: absolute;
                        content: "";
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 2px;
                        width: 100%;
                        background: var(--secondary);
                        transform: translate(-100%, 0px);
                        transition: all linear 0.2s;
                    }
                    &:hover {
                        color: var(--secondary);
                        &::before{
                            transition: all linear 0.2s;
                            transform: translate(0, 0px);
                        }
                    }
                }
            }
        }
      }
      @media (max-width: 767.9px){
        display: none;
      }
    }
  }
.contactBtn{
  @media (max-width: 999px){
    display: none;
  }
}

.mobile_Menu {
  padding: 10px 20px;
  background-color: #fff;
  color: #444;
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .logo {
    font-size: 1.5rem;
  }

  .menuToggle {
    background: none;
    border: none;
    color: #444;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    @media (max-width: 999px){
      display: block;
    }
  }

  .mobileMenu {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 10px 20px;
        border-bottom: 1px solid #555;

        .accordionButton {
          background: none;
          border: none;
          color: white;
          width: 100%;
          text-align: left;
          padding: 10px 0;
          cursor: pointer;
        }

        .dropdown {
          list-style: none;
          padding: 0;
          margin: 0;
          background-color: #555;

          li {
            padding: 10px 40px;
            border-bottom: 1px solid #666;
          }
        }
      }
    }
  }
}

// Mobile-specific styles
@media (max-width: 768px) {
  .menuToggle {
    display: block; // Show toggle button on small screens
  }

  .mobileMenu {
    display: block;
  }
}

.menuToggle {
  display: none;
  @media (max-width: 999px){
    display: block;
  }
}
