.About-section {



  .about_banner {
    display: flex;
    height: 100vh;
 
    justify-content: space-between;
    align-items: center;

    h1 {
      padding-top: 1rem;
      font-size: 3rem;
      line-height: 3.5rem;
      color: rgb(89 89 89);
    }
    p {
      font-size: 18px;
      padding-top: 1rem;
      margin-bottom: 2rem;
      color: rgb(89 89 89);
      line-height: 1.8rem;
    }
  }
  .section_banner {
   text-align: center;
   margin: 2rem 0 3rem 0;
    h1 {
        color: rgb(89 89 89);
      font-size: 2.3rem;
      line-height: 3.5rem;
    }
    p {
      font-size: 1.1rem;
      padding-top: 1rem;
      margin-bottom: 2rem;
      color: rgb(89 89 89);
    }
  }
  .about_exp{
      margin-bottom: 5rem;
    background: var(--primary);
    padding: 2rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    h1{
        padding-top: 1rem;
        font-size: 3rem;
        line-height: 3.5rem;
        color: #fff;
        padding-bottom: 2rem;
    }
    ul{
        li{
            list-style: disc;
            font-size: 1.1rem;
           
            margin-bottom: 1rem;
            color: white;
        }
    }
    
  @media (max-width: 768px) {
    padding: 2rem;
    margin-bottom: 0;
    h1{
      font-size: 24px;
      padding: 0;
    }
  }
  }
  #faq{
    margin-bottom: 10rem;
    margin-top: 7rem;
  }
  
  @media (max-width: 768px) {
    
    #faq{
      margin-bottom: 4rem;
      margin-top: 2rem;
    }
    .about_banner{
      padding-top: 5rem;
      height: 100%;
      h1{
        font-size: 2rem;
        padding: 0;
      }
    }
    .section_banner{
      text-align: left;
      h1{
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}

.banner_img{
  display: none;
}