// Banner css
.mainBanner {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 90vh;
    .bannerHeading {
      padding-bottom: 5rem;
      h1 {
        font-size: 62px;
        font-weight: 600;
        padding-bottom: 1rem 0rem;
        @media (max-width: 499px){
          font-size: 32px;
        }
      }
      h2{
          font-size: 62px;
          font-weight: 600;
          text-align: center;
          span {
            color: var(--primary);
          }
          @media (max-width: 499px){
            font-size: 32px;
          }
      }
    }
    .bannerLinks {
      display: flex;
      cursor: pointer;
      align-items: center;
      .btn{
        padding: 1.2rem 1.5rem;
        cursor: pointer;
      }
      .Video {
          align-items: center;
          display: flex;
          margin-left: 3rem;
        .vIcon {
          width: 21px;
          height: 21px;
        }
        p {
          font-size: 12px;
          font-weight: 500;
          padding-left: 5px;
        }
      }
      @media (max-width: 499px){
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }

  //Services SCSS
.serviceMain {
    position: relative;
    .serviceText {
     width: 60%;
     @media (max-width: 767.7px){
      width: 100%;
     }
      p {
        font-size: 16px;
        color: var(--primary);
        font-weight: 600;
        padding: 1rem 0rem;
      }
      h1 {
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 500;
        color: black;
      }
    }
    .serviceContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    @media (max-width: 499px){
      grid-template-columns: repeat(1,1fr);
    }
      .serviceCard {
        padding: 2rem 2rem;
        Image{
          width: 140px;
          height: 140px;
        }
        h2 {
          font-size: 32px;
          font-weight: 500;
          color: var(--primary);
          padding: 1.5rem 0rem;
        }
        p{
          color: #3F3F3F;
          font-style: 16px;
          font-weight: 400;
          letter-spacing: 1px;
          padding-bottom: 1rem;
        }
        a{
          color:  #0F0F0F;
          font-weight: 500;
          font-style: 16px;
        }
      }
    }
    .exploreBtn{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 1rem;
    }
  }

  //Gallery Css
.gallery_wrapper{
  background: var(--primary);
  padding: 2rem;
  // min-height: 500px;
}
.review{
  margin-bottom: 5rem;
  .reviewHeading{
    padding: 2rem 0;
    h3{
      color: #000;
      font-size: 40px;
      font-weight: 500;
      font-family: var(--mont);
    }
  }
  .reviewCard{
    height: 484px;
    background: #E1DBF6;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     padding: 0rem 2rem;
     gap: 2rem;
     .reviewText{
      h4{
        color: #0F0F0F;
        font-size: 24px;
        font-weight: 500;
        font-family: var(--mont);
        padding-bottom: 4rem;
        width: 80%;
      }
      span{
        color: var(--primary);
        font-size: 16px;
        font-weight: 500;
 
      }
      p{
        font-size: 12px;
        font-weight: 400;
        color: #0F0F0F;
      }
     }
  }
}

.gallery_inner{
  display: flex;
  margin-bottom: 3rem;
  .containerText{
    padding: 0 6rem 0 0;
    flex: 1;
    h3{
      font-size: clamp(16px, 4vw, 32px);
      color: #fff;
      line-height: normal;
      font-family: var(--mont);
    }
    h2{
      font-size: clamp(22px, 4vw, 42px);
      color: #fff;
      line-height: normal;
      font-family: var(--mont);
    }
  }
  .cont_btn{
    flex: 1;
    p{
      font-size: clamp(16px, 4vw, 18px);
      color: #fff;
      font-weight: 400;
      line-height: normal;
      font-family: var(--mont);
      display: block;
      margin-bottom: 2rem;
    }
    a{
      display: inline-block;
    }
  }
}
.gallery_Holder{
  min-height: 450px;
}