.bannerSec {
  // background-image: url(../public/women.jpg);
  // background-size: cover;
  // background-position: 50% 50%;
  // background-repeat: no-repeat;
  position: relative;
}
.bannerSec::before {
  position: absolute;
  content: " ";
  background-image: url(../public/Images/markvid.gif);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.bannerSec::after {
  position: absolute;
  content: " ";
  background: linear-gradient(180deg, #F56300 0%, #FFA531 60%);
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.8;
}
// Banner css
.mainBanner {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 3;
  
 
  .bannerHeading {
    padding-bottom: 3rem;
    h1 {
      font-size: 58px;
      font-weight: 600;
      padding-bottom: 1rem 0rem;
      @media (max-width: 768px) {
        font-size: 42px;
      }
      @media (max-width: 575px) {
        font-size: 32px;
      }
    }
    h2 {
      font-size: 58px;
      font-weight: 600;
      text-align: center;
      color: white;
      span {
        color: black;
        font-weight: 600;
      }
      @media (max-width: 768px) {
        font-size: 42px;
        span{
          display: block;
          width: 100%;
          height: 40px;
          font-weight: 800;
        }
      }
      @media (max-width: 575px) {
        font-size: 32px;
      }
    }
    @media (max-width: 768px) {
      padding-bottom: 1rem;
    }
  }
  .banner_desp {
    width: 60%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 5rem;
    p{
      font-size: 18px;
      font-weight: 600;
      line-height: 26px;
      color: #ffff;
    }
    
    @media (max-width: 768px) {
      width: 90%;
      margin-bottom: 2rem;
    }
  }
  .bannerLinks {
    display: flex;
    cursor: pointer;
    align-items: center;
    .btn {
      padding: 1.2rem 1.5rem;
      cursor: pointer;
      @media (max-width: 768px) {
        padding: 1rem 3rem;
        font-size: 18px;
      }
    }
    .Video {
      align-items: center;
      display: flex;
      margin-left: 3rem;
      .vIcon {
        width: 21px;
        height: 21px;
      }
      p {
        font-size: 12px;
        font-weight: 500;
        padding-left: 5px;
      }
    }
  }
  .mouseHolder {
    position: absolute;
    bottom: 20px;
    z-index: 1;
    animation: mouseLag 2s infinite linear;
    
  @media (max-width: 768px) {
    bottom: 100px;
  }
 
    svg {
      font-size: 50px;
      fill: white;
    }
    @keyframes mouseLag {
      10% {
        transform: translateY(0);
        opacity: 1;
      }
      100% {
        transform: translateY(15px);
        opacity: 0.7;
      }
      50% {
        transform: translateY(0);
        opacity: 1;
      }
      20% {
        transform: translateY(15px);
        opacity: 0.7;
      }
    }
  }
}

.overview{
  margin: 4rem 0 0 0 ;
  min-height: 100vh;

 
  .overview_section{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
    .overview_img{
      border-radius: 50px;
       img{
        border-radius: 50px;
        object-fit: cover;
       }
      
    }
    .overview_content{
      gap: 10px;
      padding-top: 2rem;
       h2{
        font-size: 22px;
        font-weight: 600;
        color: var(--primary);
       padding-bottom: 1rem;
       @media (max-width: 768px) {
        font-size: 18px;
      }
      @media (max-width: 575px) {
        font-size: 16px;
      }
       }
       h1{
        font-size: 32px;
        font-weight: 800;
        padding-bottom: 1rem;
        @media (max-width: 768px) {
          font-size: 28px;
        }
        @media (max-width: 575px) {
          font-size: 24px;
        }
       }
       p{
        font-size: 18px;
        color: #9e9898;
        margin-bottom: 1.5rem;
        line-height: 1.6rem;
       
        font-weight: 600;
        @media (max-width: 767.9px) {
          font-size: 18px;
        }
       }
       button{
        padding-top: 2rem;
        padding: 1rem 2.2rem;
   

       }
       @media (max-width: 768px) {
        padding: 2rem;
       }
    }
  }

  @media (max-width: 768px) {
    margin: 0;
    .overview_img{
      display: flex;
      justify-content: center;
      img{
        object-fit: contain;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        height: 300px;
      }
    }
    .overview_section{
      gap: 0;
      padding-bottom: 4rem;
    }
    .overview_content{
      padding-top: 0;
    }
  }
}


//Services SCSS
.serviceMain {
  position: relative;
  .serviceText {
    width: 60%;
    @media (max-width: 767.7px) {
      width: 100%;
    }
    p {
      font-size: 16px;
      color: var(--primary);
      font-weight: 600;
      padding: 1rem 0rem;
    }
    h1 {
      font-family: Montserrat;
      font-size: 40px;
      font-weight: 500;
      color: black;
    }
  }
  .serviceContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .serviceCard {
      padding: 2rem 2rem;
      Image {
        width: 140px;
        height: 140px;
      }
      h2 {
        font-size: 32px;
        font-weight: 500;
        color: var(--primary);
        padding: 1.5rem 0rem;
      }
      p {
        color: #3f3f3f;
        font-style: 16px;
        font-weight: 400;
        letter-spacing: 1px;
        padding-bottom: 1rem;
      }
      a {
        color: #0f0f0f;
        font-weight: 500;
        font-style: 16px;
      }
    }
  }
  .exploreBtn {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 2;
    .bannerHeading {
      padding-bottom: 2rem;
      h1 {
        font-size: 58px;
        font-weight: 600;
        padding-bottom: 1rem 0rem;
      }
      h2{
          font-size: 58px;
          font-weight: 600;
          text-align: center;
          span {
            color: var(--secondary);
          }
      }
    }
    .banner_desp {
      width: 60%;
      max-width: 100%;
      text-align: center;
      margin-bottom: 5rem;
      p{
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        color: #626262;
      }
    }
    .bannerLinks {
      display: flex;
      cursor: pointer;
      align-items: center;
      .btn{
        padding: 1.2rem 1.5rem;
        cursor: pointer;
      }
      .Video {
          align-items: center;
          display: flex;
          margin-left: 3rem;
        .vIcon {
          width: 21px;
          height: 21px;
        }
        p {
          font-size: 12px;
          font-weight: 500;
          padding-left: 5px;
        }
      }
  
    }
    .mouseHolder {
      position: absolute;
      bottom: 20px;
      z-index: 1;
      animation: mouseLag 2s infinite linear;
      svg{
        font-size: 50px;
      }
      @keyframes mouseLag {
        10% { transform: translateY(0); opacity: 1; }
        100% { transform: translateY(15px); opacity: 0.7;}
        50% { transform: translateY(0); opacity: 1; }
        20% { transform: translateY(15px); opacity: 0.7;}
      }
    }
  }
}

//Gallery Css
.gallery_wrapper {
  background: var(--primary);
  padding: 2rem;
  margin-bottom: 5rem;
  // min-height: 500px;
  
  @media (max-width: 768px) {
    margin-bottom: 2rem;
  }
}
.review {
  margin-bottom: 5rem;
  .reviewHeading {
    padding: 2rem 0;
    h3 {
      color: #000;
      font-size: 40px;
      font-weight: 500;
      font-family: var(--mont);
    }
  }
  .reviewCard {
    height: 484px;
    background: #0b35434d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0rem 2rem;
    gap: 2rem;
    .reviewText {
      h4 {
        color: #0f0f0f;
        font-size: 24px;
        font-weight: 500;
        font-family: var(--mont);
        padding-bottom: 4rem;
        width: 80%;
      }
      span {
        color: var(--primary);
        font-size: 16px;
        font-weight: 500;
      }
      p {
        font-size: 12px;
        font-weight: 400;
        color: #0f0f0f;
      }
    }
  }
}

.gallery_inner {
  display: flex;
  margin-bottom: 3rem;
  @media (max-width: 767.7px) {
    flex-direction: column;
  }
  .containerText {
    padding: 0 6rem 0 0;
    flex: 1;
    @media (max-width: 575px) {
      padding: 0;
    }
    h3 {
      font-size: clamp(16px, 4vw, 30px);
      color: #fff;
      line-height: normal;
      font-family: var(--mont);
    }
    h2 {
      font-size: clamp(22px, 4vw, 36px);
      color: #fff;
      line-height: normal;
      font-family: var(--mont);
      margin-bottom: 1rem;
    }
  }
  .cont_btn {
    flex: 1;
    p {
      font-size: clamp(18px, 4vw, 18px);
      color: #fff;
      font-weight: 400;
      line-height: normal;
      font-family: var(--mont);
      display: block;
      margin-bottom: 2rem;
    }
    a {
      display: inline-block;
    }
  }
}
.gallery_Holder {
  min-height: 450px;
}
.service_wrapper{
  background: #ee6c4d73;
  padding: 6rem 0rem 1rem 4rem;
  border-top-right-radius: 500px;
  overflow: hidden;
  @media (max-width: 768px) {
    padding: 2rem 0rem 6rem 1rem;
    border-top-right-radius: 140px;
  }
  .arrowSpace {
    width: 300px;
    height: 100%;
  }
  .slick-slide {
    padding: 1rem !important;
  }
  .section_heading {
    margin: 0 auto 3rem auto;
    text-align: center;
    display: block;
  }
  .service_slider {
    // display: flex;
    // justify-content: flex-start;
    // align-items: baseline;
    padding-left: 10%;
    @media (max-width: 768px) {
      padding: 0;
    }
    .slideCard {
      border-radius: 36px;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      // flex: 0 0 40%;
      background: #fff;
      box-shadow: 0px 0px 15px 3px #0b354333;
      min-height: 310px;
      @media (max-width: 768px) {
        padding: 2rem;
      }
      .card_heading{
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 1rem;
        
        @media (max-width: 767.9px) {
          flex-direction: column;
          gap: 0;
          justify-content: center;
          align-items: center;
        }
      }
      .slide_Img {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        @media (max-width: 768px) {
          width: 50px;
          height: 50px;
          margin-bottom: 0;
          img{
            width: 50px;
            height: 50px;
          }
        }
      }
      h2 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 1rem;
        display: block;
        font-weight: 700;
        width: 70%;
        color: var(--textColor);
        @media (max-width: 768px) {
          font-size: 18px;
          line-height: 22px;
          margin: 0;
          width: 100%;
          display: block;
          text-align: center;
          padding: 10px 0;
        }
      }
      p {
        font-size: 18px;
        line-height: 28px;
        display: block;
        font-weight: 400;
        color: var(--lightText);
      }
      &:is(:hover) {
        transform: scale(1.01);
        box-shadow: 0px 0px 15px 2px rgb(11 53 67 / 67%);
      }
    }
    .slick-prev {
      left: -155px;
      top: 80%;
      @media (max-width: 768px) {
        left: 44%;
        top: 114%;
      }
      @media (max-width: 575px) {
        left: 38%;
        top: 114%;
      }
      @media (max-width: 400px) {
        left: 35%;
        top: 114%;
      }
    }
    .slick-next {
      right: auto;
      left: -110px;
      top: 80%;
      @media (max-width: 768px) {
        left: 51%;
        top: 114%;
      }
      @media (max-width: 575px) {
        left: 48%;
        top: 114%;
      }
      @media (max-width: 400px) {
        left: 48%;

        top: 114%;
      }
    }
    .slick-prev:before {
      color: var(--primary);
      font-size: 40px;
    }
    .slick-next:before {
      color: var(--primary);
      font-size: 40px;
    }
  }
}
// ROI Section styles
.roi_wrapper {
  background-image: url(../public/Images/bgROI.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 8rem 4rem;
  position: relative;
  z-index: 0;
  @media (max-width: 575px) {
    padding: 2rem 1rem;
  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: " ";
    width: 100%;
    height: 100%;
    background: #ee6c4d1a;
    z-index: -1;
  }

  .roi_Box {
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      display: block;
    }
    .roi_Inner {
      flex: 3;
      padding: 0 3rem 0 0;
      @media (max-width: 575px) {
        padding: 0;
      }
      .roi_content {
        width: 60%;
        margin-bottom: 15%;
        @media (max-width: 575px) {
          width: 100%;
        }
        .section_heading {
          h2 {
            margin-bottom: 2rem;
            text-align: left;
            @media (max-width: 575px) {
              margin-bottom: 1rem;
            }
          }
          p {
            font-size: 20px;
            font-weight: 500;
          }
        }
      }
      .roi_pricing {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        margin-bottom: 10%;
        .roi_counter {
          padding-right: 3rem;
          @media (max-width: 575px) {
            padding: 0;
          }
          h3 {
            font-size: 28px;
            font-weight: 700;
            margin-bottom: 5px;
            line-height: 38px;
            @media (max-width: 768px) {
              font-size: 26px;
            }
          }
          h5 {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 24px;
            @media (max-width: 768px) {
              font-size: 18px;
            }
          }
        }
        @media (max-width: 768px) {
          text-align: center;
          flex-direction: column;
          gap: 0;
          margin-bottom: 10px;
        }
      }
      .roi_Tel {
        p {
          font-weight: 500;
          span {
            padding-left: 5px;
            display: inline-block;
          }
          a {
            color: var(--secondary);
          }
          @media (max-width: 575px) {
            font-size: 18px;
          }
        }
      }
    }
    .roi_Info {
      flex: 1;
      .roi_Card {
        display: flex;
        margin-top: 1rem;
        gap: 1rem;
        align-items: center;
        background: #fff;
        border-radius: 6px;
        border: 1px solid #00002e1f;
        padding: 1rem;
        @media (max-width: 575px) {
          flex-direction: column;
          padding: 0.7rem;
        }
        .roi_Content {
          h2 {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 10px;
            font-size: 600;
            color: var(--heading);
            text-align: left;
            @media (max-width: 768px) {
              font-size: 18px;
              text-align: center;
            }
          }
          p {
            font-size: 16px;
            line-height: 24px;
            font-size: 400;
            color: var(--heading);
          }
          @media (max-width: 768px) {
            margin-bottom: 1rem;
          }
        }
        .roi_Icon {
          width: 20px;
          height: 20px;
          border-radius: 100%;
          background: var(--primary);
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          svg {
            fill: var(--white);
            color: var(--white);
          }
          @media (max-width: 768px) {
            width: 16px;
            height: 16px;
          }
        }
        @media (max-width: 768px) {
          text-align: center;
        }
      }
    }
  }
}
// faq section style
.faq_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  @media (max-width: 575px) {
    flex-direction: column-reverse;
  }
  .faq_Holder {
    flex: 2;
  }
  .faqImage {
    flex: 1;
    height: auto;
    overflow: hidden;

    @media (max-width: 768px) {
      width: 80%;
      margin: auto;
    }
    @media (max-width: 575px) {
      flex-direction: column-reverse;
    }
    border-radius: 16px;
    img {
      height: auto;
      object-fit: cover;
      max-width: 100%;
      display: inline-block;
    }
  }
}

#faq{
  .section_heading{
    margin: 0 auto 5rem auto;
    
  @media (max-width: 768px) {
    margin-bottom: 2rem;
  }
  }
}